<template>
    <v-list-group
        v-model="directory.is_active"
        :prepend-icon="directory.icon"
    >
        <!-- Title -->
        <v-list-tile slot="activator">
            <v-list-tile-content>
                <v-list-tile-title>{{ directory.name }}</v-list-tile-title>
            </v-list-tile-content>
        </v-list-tile>

        <!-- Children -->
        <v-list-tile
            v-for="(child, index) in directory.children"
            :key="index"
            :to="getLink(child)"
        >
            <v-list-tile-action>
                <v-icon>{{ child.icon }}</v-icon>
            </v-list-tile-action>

            <v-list-tile-content>
                <v-list-tile-title>{{ child.fullname }}</v-list-tile-title>
            </v-list-tile-content>
            
        </v-list-tile>
    </v-list-group>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'
import DirectoryModel from '@/models/files/DirectoryModel'
import IFileModel from '@/models/files/IFileModel'

@Component(
{
    components:
    {
        DirectoryTile
    }
})
export default class DirectoryTile extends Vue
{
    @Prop(DirectoryModel) directory!: IFileModel

    get name()
    {
        return this.directory.name
    }

    
    getLink(file:IFileModel)
    {
        if(file.type === 'dir')
            return '';

        let link = '';

        return `/browser/${this.directory.id}/${file.id}`
        // return { name:link }
    }
}
</script>
