<template>
    <v-list dense class="pt-0">
        <DirectoryTile
            v-for="file in files"
            :key="file.id"
            :directory="file"
        ></DirectoryTile>
    </v-list>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import FilesModule from '@/store/modules/filesModule'
import IFileModel from '@/models/files/IFileModel'
import DirectoryTile from './DirectoryTile.vue'

@Component(
{
    components:
    {
        DirectoryTile
    }
})
export default class FileBrowser extends Vue
{
    created()
    {
        FilesModule.setFiles()
    }

    get files()
    {
        return FilesModule.files
    }
}
</script>
