<template>
    <section class="home">
        Homepage, probably a login or smth coming here.
        <br/>
        <img alt="Vue logo" src="../assets/logo.png">
    </section>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'

@Component
export default class Browser extends Vue
{
    created()
    {
        // get file ID
        const id = ''
        const file = ''
        // if directory, show directory browser
        // if file, show file editor
        console.log(this.params)
    }

    get params()
    {
        if(this.$route.params.files === undefined)
            return null
        const route:string = String(this.$route.params.files)

        if(route==='')
            return null

        return route.split('/')
    }
}
</script>
