<template>
  <div class="counter">
        <vBtn @click='increaseNumber'>increase</vBtn>
        <h1>{{ my_number }}</h1>
        <vBtn @click='decreaseNumber'>decrease</vBtn>
  </div>
</template>


<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import CounterModule from '@/store/modules/counter'

@Component
export default class Counter extends Vue
{
    increaseNumber()
    {
        CounterModule.increaseCounter(1)
    }

    decreaseNumber()
    {
        CounterModule.decreaseCounter(1)
    }

    get my_number()
    {
        return CounterModule.counterWithEmoji
    }
}
</script>
