<template>
  <v-app id="inspire" dark>
    <!-- Navigation drawer -->
    <v-navigation-drawer
        :permanent="drawer"
        app
        floating
    >
        <FileBrowser />
    </v-navigation-drawer>

    <!-- Toolbar -->
    <v-toolbar app fixed>
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <v-toolbar-title>
            <router-link :to="{name:'home'}" tag="span">V Notes</router-link>
        </v-toolbar-title>
    </v-toolbar>

    <!-- Body -->
    <v-content>
        <router-view/>
    </v-content>

    <!-- Footer -->
    <v-footer app fixed>
        <span>by JasperV</span>
    </v-footer>
  </v-app>
</template>



<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import FileBrowser from '@/components/app/FileBrowser.vue'


@Component(
{
    components:
    {
        FileBrowser
    }
})
export default class App extends Vue
{
    drawer: boolean = true
}
</script>



<style lang="stylus" scoped>
.application--wrap
    // toolbar
    .v-toolbar__title
        cursor pointer

    // footer
    .v-footer
        z-index 6
</style>
